# Übungsaufgaben DML

Der folgende Block enthält Übungsaufgaben zu den Kapiteln INSERT, UPDATE, DELETE und CASCADE.

## INSERT

Führe diese Aufgaben aus, nachdem du den INSERT-Block bearbeitet hast.

**1.1** Erstelle eine neue Kundin in der Tabelle _verkauf.kunden_ mit folgenden Attributen:

- Vorname: Barbara
- Nachname: Traufer

In [1]:
USE m106;
GO

INSERT INTO verkauf.kunden (vorname, nachname) VALUES ('Barbara', 'Traufer');

**1.2** Füge drei neue Produkte in der dafür vorgesehenen Tabelle hinzu. Den Produktnamen, den Preis sowie das Energielabel kannst du jeweils selber bestimmen.

In [1]:
USE m106;
GO

INSERT INTO verkauf.produkte (produktname,preis,energielabel) VALUES ('Eimer','5','A'), ('Flashbang','1500','E'), ('Waschtaps','17','C');

**1.3** Erstelle zwei neue Einträge in der Tabelle _verkauf.bestellungen_, welche zur oben neu erstellten Kundin gehören. Das Bestelldatum kannst du bei beiden Bestellungen frei wählen.

In [23]:
USE m106;
GO

--fuck this shit

INSERT INTO verkauf.bestellungen (bestelldatum,kundenid) VALUES (2024-01-13,'7');

: Msg 242, Level 16, State 3, Line 4
Bei der Konvertierung eines varchar-Datentyps in einen datetime-Datentyp liegt der Wert außerhalb des gültigen Bereichs.

## UPDATE

Führe diese Aufgaben aus, nachdem du den UPDATE-Block bearbeitet hast.

**2.1** Die Kundin mit der Kundenid 3 wünscht, dass ihr Vorname in den Stammdaten von _unbekannt_ auf _Maria_ geändert wird. Bitte nimm diese Änderung vor.

In [26]:
USE m106;
GO

UPDATE verkauf.kunden SET vorname = 'Maria' WHERE kundenid = '3';
SELECT * FROM verkauf.kunden WHERE vorname = 'Maria';

kundenid,vorname,nachname
3,Maria,Matter

**2.2** Du erhältst den Auftrag, den Namen des Produktes mit der Id 2 auf _Zitruspresse_ zu ändern und im selben Zug auch gleich den Preis um CHF 10 zu erhöhen.

In [27]:
USE m106;
GO

UPDATE verkauf.produkte SET produktname = 'Zitruspresse', preis = '10' WHERE produktid = '2';
SELECT * FROM verkauf.produkte WHERE produktid = '2';

produktid,produktname,preis,energielabel
2,Zitruspresse,"10,00",A

## DELETE

Führe diese Aufgaben aus, nachdem du den DELETE-Block bearbeitet hast.

**3.1** Du wirst von deinem Vorgesetzten aufgefordert, alle Bestellungen des Kunden _Bruno Moser_ zu löschen. Nimm bitte diese Mutation vor.
**Wichtig**: Sei vorsichtig, dass nicht zu viele Daten gelöscht werden.

In [31]:
USE m106;
GO

SELECT * FROM verkauf.kunden;
DELETE FROM verkauf.bestellungen WHERE kundenid = '4';
SELECT * FROM verkauf.bestellungen;

**3.2** Angenommen, du wirst angewiesen die Kundin Barbara Traufer aus der Kunden-Tabelle zu löschen. Würde das Datenbanksystem diese Löschung zulassen? Was gibt es dabei zu beachten? Schreibe deine Überlegungen auf, ohne die Mutation vorzunehmen.

In [ ]:
/*
USE m106;
GO

DELETE FROM verkauf.kunden WHERE kundenid = '3';
*/