# Zeichenfolgenfunktionen

In [ ]:
-- CHAR(): Ermittelt das Zeichen, das dem ASCII-Code entspricht.

SELECT CHAR(70) AS Ergebnis; -- Gibt 'A' zurück

In [ ]:
-- LEFT() und RIGHT(): Gibt die ersten bzw. letzten N Zeichen einer Zeichenfolge zurück.

SELECT LEFT('Hallo Welt', 5) AS ErsteZeichen, RIGHT('Hallo Welt', 4) AS LetzteZeichen;

In [ ]:
-- LEN(): Ermittelt die Länge einer Zeichenfolge (ohne Leerzeichen am Ende).

SELECT LEN('Hallo Welt') AS Länge;

In [ ]:
-- LOWER() und UPPER(): Konvertiert eine Zeichenfolge in Klein- oder Großbuchstaben.

SELECT LOWER('Hallo Welt') AS Kleinbuchstaben, UPPER('Hallo Welt') AS Großbuchstaben;

In [ ]:
-- LTRIM(), RTRIM() und TRIM()
SELECT 
    '   Hallo   ' AS Ungetrimmt,
    LTRIM('   Hallo   ') AS OhneLeerzeichenLinks, 
    RTRIM('   Hallo   ') AS OhneLeerzeichenRechts,
    TRIM('   Hallo   ') AS GanzOhneLeerzeichen;

In [ ]:
-- REPLICATE(): Wiederholung eines Ausdrucks

SELECT REPLICATE('Hallo ', 3 ) AS Wiederholung;

In [10]:
-- STR(): Liefert Zahl als Zeichenfolge zurück (expression float, length int, scale int)
-- Hinweis: Ist eigentlich keine Zeichenfolgenfunktion, da sie Zahl als Input entgegen nimmt
SELECT 
    STR(10.1234) AS 'Gerundeter String',
    STR(10.1234, 5 , 2) AS 'String mit Length 5, Scale 2',
    STR(10.1236, 6, 4) AS 'String mit Length 6, Scale 4 (abgeschnitten)'

Gerundeter String,"String mit Length 5, Scale 2","String mit Length 6, Scale 4 (abgeschnitten)"
10,10.12,10.124

In [11]:
-- SUBSTRING(): Extrahiert eine Teilzeichenfolge basierend auf Startposition und Länge.

SELECT SUBSTRING('Hallo Welt', 7, 4) AS Teil;

Teil
Welt

In [12]:
-- CHARINDEX(): Gibt die Position einer Zeichenfolge innerhalb einer anderen zurück.

SELECT CHARINDEX('Welt', 'Hallo Welt') AS Position;

Position
7

In [14]:
-- CONCAT(): Verknüpfung von Zeichenfolgen.

SELECT CONCAT('Hallo', ' ', 'Welt') AS Verbunden;

Verbunden
Hallo Welt