# Mathematische Funktionen

In [1]:
-- ROUND(expression, precision): Rundet Zahl kaufmännisch
SELECT 
    ROUND(1.1234, 2) AS 'auf 2 Kommastellen',
    ROUND(1.1256, 2) AS 'auf 2 Kommastellen', 
    ROUND(1.1234, 0) AS 'auf Ganzzahl',
    ROUND(1.1234, -1) AS 'auf nächste 10er-Stelle';

auf 2 Kommastellen,auf 2 Kommastellen,auf Ganzzahl,auf nächste 10er-Stelle
1.1200,1.1300,1.0000,0.0000

In [2]:
-- FLOOR(): auf nächstgelegene Ganzzahl abrunden

SELECT FLOOR(1.9999) AS 'Nächst kleinere Ganzzahl';

Nächst kleinere Ganzzahl
1

In [3]:
-- ABS(): absoluter Wert => Abstand zu 0
SELECT 
    ABS(10) AS 'ABS von positiver Zahl',
    ABS(-10) AS 'ABS von negativer Zahl'

ABS von positiver Zahl,ABS von negativer Zahl
10,10

In [5]:
-- RAND(): Zufällige Zahl (aber deterministisch)
SELECT 
    RAND(), -- Ohne Seed: Zahl zwischen 0.0 (inklusiv) und 1.0 (exklusiv)
    RAND(), -- ergibt andere Zahl als oben
    RAND(12345), -- Mit Seed: solange gleicher Seed = gleiche Zufallszahl
    RAND(12345); -- ergibt gleiche Zahl wie oben

-- RAND ist nicht sicher. Nicht für kryptographische Zwecke verwenden. Hierfür:
SELECT
    NEWID(),
    NEWID();

(No column name),(No column name),(No column name),(No column name)
0.9083188493579499,0.1466878273459326,0.9435973904241444,0.9435973904241444

(No column name),(No column name)
1b3e0922-1dc5-4df6-9486-c2397bb0ff11,aec50bce-75fc-49d1-83c3-2278e0ac1bb5

In [6]:
-- PI(): Liefer Zahl PI
SELECT PI() AS PI;

PI
3.141592653589793

In [7]:
-- POWER(expression, power): Hochrechnen
SELECT POWER(2,8) 'Möglichkeiten in einem B...';

Möglichkeiten in einem B...
256

In [8]:
-- SQUARE(): Quadratzahl (x^2)
SELECT
    SQUARE(2) '2^2',
    SQUARE(3) '3^2',
    SQUARE(4) '4^2';

2^2,3^2,4^2
4,9,16

In [9]:
--SQRT(): Square Root = Quadratwurzel
SELECT
    SQRT(2) 'Quadratwurzel von 2',
    SQRT(4) 'Quadratwurzel von 4',
    SQRT(9) 'Quadratwurzel von 9';

Quadratwurzel von 2,Quadratwurzel von 4,Quadratwurzel von 9
1.4142135623730951,2,3