# Datums- und Uhrzeitfunktionen

In [2]:
-- DATEADD(): Fügt eine bestimmte Zeitspanne zu einem Datum hinzu
-- SET LANGUAGE English;
SELECT DATEADD(DAY, 10, '2025-01-15') AS '10 Tage später';

10 Tage später
2025-11-15 00:00:00.000

In [3]:
-- DATEDIFF(): Berechnet die Differenz zwischen zwei Datumswerten (rundet immer ab)
SELECT 
    DATEDIFF(MILLISECOND, '2024-01-01', '2024-01-15') AS 'Differenz in Millisekunden',
    DATEDIFF(SECOND, '2024-01-01', '2025-01-15') AS 'Differenz in Sekunden',
    DATEDIFF(DAY, '2024-01-01', '2025-01-15') AS 'Differenz in Tagen',
    DATEDIFF(WEEK, '2024-01-01', '2025-01-15') AS 'Differenz in Wochen',
    DATEDIFF(MONTH, '2024-01-01', '2025-01-15') AS 'Differenz in Monaten',
    DATEDIFF(YEAR, '2024-01-01', '2025-01-15') AS 'Differenz in Jahren';

Differenz in Millisekunden,Differenz in Sekunden,Differenz in Tagen,Differenz in Wochen,Differenz in Monaten,Differenz in Jahren
1209600000,32832000,380,54,12,1

In [4]:
-- DATENAME(): Gibt den Namen eines bestimmten Teils eines Datums zurück
SELECT 
    DATENAME(MONTH, '2025-01-15') AS 'Monat',
    DATENAME(DAY, '2025-01-15') AS 'Tag',
    DATENAME(YEAR, '2025-01-15') AS 'Jahr';

Monat,Tag,Jahr
January,15,2025

In [5]:
-- DAY(), MONTH(), YEAR(): Extrahiert den Tag, Monat oder das Jahr aus einem Datum
SELECT 
    DAY('2025-01-15') AS 'Tag',
    MONTH('2025-01-15') AS 'Monat',
    YEAR('2025-01-15') AS 'Jahr';

Tag,Monat,Jahr
15,1,2025

<mark>Wichtig:</mark>

In [6]:
-- GETDATE: Gibt das aktuelle Datum und die aktuelle Uhrzeit zurück (lokale Zeitzone)
SELECT GETDATE() AS 'Aktuelles Datum und Uhrzeit';

Aktuelles Datum und Uhrzeit
2025-01-15 09:39:22.867

In [7]:
-- GETUTCDATE: Gibt das aktuelle Datum und die Uhrzeit in der UTC-Zeitzone zurück
-- Hinweis: UTC = universal time coordinated 
SELECT GETUTCDATE() AS 'UTC Datum und Uhrzeit';

UTC Datum und Uhrzeit
2025-01-15 08:40:33.373

In [8]:
-- SYSDATETIME: Gibt das aktuelle Datum und die Uhrzeit mit Nanosekunden-Genauigkeit zurück
SELECT SYSDATETIME() AS 'Hohe Präzision Zeit';

Hohe Präzision Zeit
2025-01-15 09:41:05.9233038