# Konvertierungsfunktionen

In [1]:
-- CONVERT(): Beispiel von Konvertierung eines Datums in eine Zeichenkette 
SELECT 
    CONVERT(VARCHAR, GETDATE(), 120) AS 'Datum im ISO-Format', --(YYYY-MM-DD HH:MM:SS)
    CONVERT(VARCHAR, GETDATE(), 104) AS 'Datum im Format DD.MM.YYYY',
    CONVERT(VARCHAR, GETDATE(), 4) AS 'Datum im Format DD.MM.YY';

Datum im ISO-Format,Datum im Format DD.MM.YYYY,Datum im Format DD.MM.YY
2025-01-15 09:42:36,15.01.2025,15.01.25

In [2]:
-- CAST(): Konvertierung zu gew√ºnschtem Datentyp

SELECT 
    CAST('20250114' AS date) 'Datum',
    CAST('20250114' AS datetime) 'Datum mit Uhrzeit',
    CAST(123 AS DECIMAL(10, 2)) AS 'Ganzzahl zu Dezimal',
    CAST(123.45 AS INT) AS 'Dezimal zu Ganzzahl';

Datum,Datum mit Uhrzeit,Ganzzahl zu Dezimal,Dezimal zu Ganzzahl
2025-01-14,2025-01-14 00:00:00.000,123.00,123