In [1]:
SELECT STR(123.456, 10, 2)

(No column name)
123.46

In [2]:
SELECT SUBSTRING('Hello World', 1, 5)

(No column name)
Hello

In [3]:
SELECT CHARINDEX('World', 'Hello World')

(No column name)
7

In [5]:
SET LANGUAGE English;
SELECT DATEADD(DAY, 10, '2025-01-15') AS '10 Tage sp채ter';

10 Tage sp채ter
2025-01-25 00:00:00.000