# **Dasi ist eine Demo**

In [1]:
SELECT 'Hello from Notebook';

(No column name)
Hello from Notebook